*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f491;
    color: #333;
    line-height: 1.6;
}
    
header{
    color:#e4d610;
    text-align:center;
    width: 100%;
}

#logo{
    width: 150px;
   
}
.bkg-design{
    background-color: #e4d610;
    padding: 2px ;
    
}
.head-section{
    display:flex;
    align-items:center;
   background-color: #444;
   
    
}

#first-contact{
    margin-left: auto;
    color: #e4d610;
    font-weight: bold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10px;
    text-decoration: none;
}
 #first-contact a{
    color: #e4d610;
    text-decoration: none;}
#first-contact a:hover{
    color: #eeee83;
}

.nav-bar{
    width: 100%;
    align-items: center;
    color: #131312
;

}

nav{
    text-align: center;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
    font-size: large;
    
}
nav ul li{
    
    text-decoration: none;
    
}
nav ul li a{
    color: #1f1e1e;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #e4d610;
}
h1 span{
    color:#131312;
}
h1 span:hover{
    color:#e4d610;
}

.header-top{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #444; 
}

.header-txt{
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
}

.first-section{
    background-image: url(housepainter.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
   
}


.intro-text{
    text-align: center;
    color: #e4d610;
    text-shadow: #333 2px 2px 4px;
    font-weight: bold;
    width: 90%;
    padding: 100px;
    text-transform: uppercase;  
}

.About{
    padding: 50px;
    background-color: #f4f4f4;
}

.About h2{
    text-align: center;
    color: #e4d610;
    margin-bottom: 20px;
}
.About p{
    font-size: large;
    line-height: 1.8;
    margin-bottom: 10px;
    text-align: center;
}
.About img{
    display: block;
    margin: 20px auto;
    max-width: 10%;
    min-width: 50%;
    height: auto;
    shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    position:top;
 }
 #name{
    color: #e4d610;
    font-weight: bold;
 }

 #name span{
    color: #131312;
 }
.About img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}




    
   

